@font-face {
font-family: 'OpenSans';
src: url(../fonts/OpenSans-Regular.woff) format('woff'),
    url(../fonts/OpenSans-Regular.woff2) format('woff2'),
    url(../fonts/OpenSans-Regular.ttf) format('ttf');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'OpenSans';
src: url(../fonts/OpenSans-Bold.woff) format('woff'),
    url(../fonts/OpenSans-Bold.woff2) format('woff2'),
    url(../fonts/OpenSans-Bold.ttf) format('ttf');
font-weight: bold;
font-style: normal;
font-display: swap;
}

*, *::after, *::before {
padding: 0px;
margin: 0px;
border: 0px;
box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'OpenSans', sans-serif;
    margin: 0;
}

.pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

/* --------скрыть popup ---------*/
.hidden {
    display: none;
}

.close {
    width: 17px;
    height: 17px;
    position: absolute;
    top: -25px;
    right: 0;
    background-image: url(../svg/form-x.svg);
    content: '';
}

.side-bar-title.pop-up-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.pop-up-form {
    position: fixed;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -40%);

    width: 390px;
    padding: 45px 20px;
    background-color: #ffffff;
}

.pop-up-text {
    margin-top: 30px;
    font-size: 13px;
}

.pop-up-select {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding-left: 20px;
    color: #707171;
    background-color: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 98% 50%;

    -webkit-appearance: none;
    appearance: none;
}

.pop-up-select:focus {
    outline: 1px solid #b59f5b;
}

.radio-input {
    visibility: hidden;
}

.choice-text {
    position: relative;
}

.choice-text::before {
    position: absolute;
    content: '';
   display: inline-block;

   width: 20px;
   height: 20px;

   background-image: url(/svg/form-empty-circle.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 20px;
}



.comment {
    font-family: inherit;
    font-size: 13px;
    width: 100%;
    height: 130px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #f4f7f6;
}

.comment:focus {
    outline: 1px solid #b59f5b;
}

.button-feedback {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #b59f5b;
}

.button-feedback:hover {
    cursor: pointer;
    background-color: #323232;
}

/*-------------------------------HEADER-------------------------------*/

.header {
    width: 100vw;
padding: 30px 5px;
margin-bottom: 50px; 
background-image: url(../images/banner-bg.jpg);
background-size: cover;
background-color: #666666;
background-repeat: no-repeat;
background-position: center, 0;
position: relative;
box-sizing: border-box;
z-index: 0;
text-align: center;
}

.header:after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
max-width: 1200px;
padding: 0 17px;
margin: 0 auto;
text-transform: uppercase;
position: relative;
z-index: 30;
}

.header-navigation {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
width: 180px;
}

.header-menu-list {
display: flex;
list-style-type: none;
}

.header-menu-item {
margin-left: 34px;
font-size: 13px;
}


.header-menu-link {
text-decoration: none;
color: #ffffff;
}

.header-menu-link:hover {
text-decoration: underline;
}

.burger {
    position: absolute;
    top: 20px;
    right: 35px;
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;

    visibility: hidden;
}

.burger::after,
.burger::before {
    content: '';
    display: block;
    position: absolute;
    
    width: 17px;
    height: 2px;

    border-radius: 10px;
    background-color: #ffffff;
}

.burger::before {
    top: -5px;
}

.burger::after {
    top: 5px;
}


.header-titlle {
margin: 97px auto;
max-width: 700px;
color: #ffffff;
font-size: 2.8rem;
line-height: 75px;
}

/*-------------------------------TRAND-NOW-------------------------------*/
.in-trand {
    margin-bottom: 45px;
}

.trand {
    margin: 0 auto;
    min-width: 1655px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 320px;
    gap: 5px;

    justify-items: center;
}

.trand-container {
    position: relative;
    min-width: 100%;
    min-height: 100%;

    padding: 15px 20px;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.trand-container::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.horizont {
    font-size: 20px;
    margin-bottom: 45px;
    text-transform: uppercase;
}
    
.trand-container.first {
    background-image: url(../images/trend1.jpg);
}

.trand-container.second {
    background-image: url(../images/trend2.jpg);
}

.trand-container.third {
    background-image: url(../images/trend3.jpg);
}

.trand-container.fourth {
    background-image: url(../images/trend4.jpg);
}

.trand-item {
    max-height: 290px;
    padding: 40px 20px 30px;
    border: 3px solid #8a7d53; 
    z-index: 1;
}

.trand-title-link {
    color: #ffffff;
    text-decoration: none;
}

.trand-title-link:hover {
    color: #b59f5b;
}


/*-------------------------------MAIN CONTENT-------------------------------*/


.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px 15px 0 15px; 
    display: flex;
    justify-content: space-between;

}

.main-container {
    width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 60px;
}

.main-item {
display: flex;
gap: 30px;
}

.main-item::after {
    content: '';
    width: 90%;
    height: 3px;
    
    background-color: #eeeeee;

    visibility: hidden;
}

.main-picture-container {
width: 90%;

}

.main-picture {
width: 100%;
vertical-align: middle;
color: black;
}

.main-content {
width: 90%;
}

.main-menu-list {
display: flex;
gap: 20px;
list-style-type: none;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
}

.main-menu-link {
text-decoration: none;
color: #b59f5b;
}

.main-menu-link:hover{
text-decoration: underline;
}

.main-title {
margin: 3px 0 28px;
letter-spacing: 0.09px;
line-height: 25px;
font-size: 20px;
text-transform: uppercase;
}

.main-title-link {
color: #0f0d0e;
text-decoration: none;
}

.main-title-link:hover {
color: #b59f5b;
}

.main-article-caption {
margin: 0 0 45px;
display: flex;
gap: 13px;
font-size: 12px;
color: #888888;
}

.main-article-caption-container {
display: flex;
flex-direction: column;
gap: 10px;
}

.main-article-caption-bold {
font-style: normal;
font-weight: bold;
color: #000000;
}

.main-article-contant {
font-size: 15px;
line-height: 21px;
letter-spacing: 0.08px;
}

/*-------------------------------ASIDE-------------------------------*/

.side-bar {
    max-width: 270px;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}

.side-bar-new-posts {
margin-bottom: 60px;
}

.side-bar-title {
    font-size: 14px;
position: relative;
margin: 0 0 20px 0;
text-align: center;
color: #0f0d0e;
}

.side-bar-title::after {
content: '';
display: block;
background-color: #e1d9bd;
margin: 0 auto;
margin-top: 10px;
width: 65px;
height: 3px;
}

.new-posts-item-container {
padding: 8px 0;
display: flex;
flex-direction: column;
gap: 22px;
}

.new-posts-item {
display: flex;
gap: 15px;
}

.new-posts-item-container-image {
width: 70px;
background-color: #f4f7f6;
}

.new-posts-item-image {
width: 70px;
height: 70px;
object-fit: cover;
vertical-align: middle;
}

.new-posts-item-content {
width: 181px;
}

.new-posts-item-caption {
font-size: 12px;
font-weight: normal;
text-transform: lowercase;
color: #878787;
}

.new-posts-item-title {
line-height: 15px;
}

.new-posts-item-title-link {
font-size: 14px;
color: #000000;
text-decoration: none;
}

.new-posts-item-title-link:hover {
color: #b59f5b;
}

.search-form {
font-size: 0;
margin: 50px 0 0 0;
display: flex;
}

.input-search {
width: 220px;
height: 45px;
font-size: 13px;
padding-left: 13px;
background-color: #f4f7f6;
}

.search-button {
width: 50px;
background-color: #b59f5b;
background-image: url(../svg/search.svg);
background-size: 15px;
background-repeat: no-repeat;
background-position: center center;
}

.search-button:hover {
    background-color: #323232;
    cursor: pointer;
}

.hidden {
position: fixed;
transform: scale(0);
}

.side-bar-subscrib {
width: 270px;
margin-bottom: 60px;
}

.input-subscrib {
width: 270px;
height: 45px;
font-size: 13px;
padding-left: 13px;
background-color: #f4f7f6;
}

.input-subscrib:focus {
    outline: 1px solid #b59f5b;
}

.button-subscrib {
margin: 20px 0 0 0;
width: 270px;
height: 50px;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
color: #ffffff;
background-color: #b59f5b;
}

.button-subscrib:hover {
    background-color: #323232;
    cursor: pointer;
}

.side-bar-tags {
width: 270px;
margin-bottom: 50px;
}

.tag-list {
padding-top: 13px;
display: flex;
gap: 7px;
flex-wrap: wrap;
list-style-type: none;
}

.teg-item {
margin-bottom: 10px;
}

.tag-link {
font-size: 12px;
text-transform: uppercase;
text-decoration: none;
color: #000000; 
padding: 3px 13px;
border: 3px solid #eeeeee;
}

.tag-link:hover {
padding: 3px 10px;
border: 3px solid #b59f5b;
}

.side-bar-themes {
width: 270px;
}

.themes-list {
list-style-type: none;
margin-top: -10px;
}

.themes-item {
border-bottom: 1px solid #eeeeee;
margin-bottom: 1px;
}

.themes-link {
line-height: 40px;
text-decoration: none;
text-transform: capitalize;
color: #000000;
}

.themes-link:hover {
color: #b59f5b;
}

.superscript {
margin-left: 3px;
color: #b59f5b;
}

/*-------------------------------PRODUCT-------------------------------*/

.shop {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.product {
    display: grid;
}

.product-img {
    width: 100%;
    padding: 0 20px;
    z-index: -99;
}

.product-content {
    margin-top: -30px;
    padding: 55px 20px 15px;
    height: 260px;
    border: 3px solid #b59f5b;
}

.product-title {
    font-size: 20px;
    text-transform: uppercase;
}

.product-discription {
    font-size: 15px;
}

.product-link {
    color: #b59f5b;
    text-decoration: none;
} 

.product-link:hover {
    text-decoration: underline;
}

.product-price {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
}

.btn-product {
    width: 140px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b59f5b;
}

.btn-product:hover {
    cursor: pointer;
    background-color: #323232;
}

.last-price {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: bold;
}

.price {
    font-size: 20px;
    font-weight: bold;
}
/*-------------------------------FOOTER-------------------------------*/

.footer {
padding: 70px 15px 60px 15px;
text-align: center;

}

.icons-container {
margin: 0 auto;
max-width: 1170px;
height: 85px;
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
background-color: #f4f7f6;
}

.icon-list {
list-style-type: none;
display: flex;
gap: 25px;
}

.icon-link {
display: block;
width: 20px;
height: 20px;
}

.dribbble {
background-image: url(../svg/001-dribbble.svg);
background-size: 20px;
}

.pinterest {
background-image: url(../svg/002-pinterest.svg);
background-size: 20px;
}

.tumblr {
background-image: url(../svg/003-tumblr.svg);
background-size: 20px;
}

.icon-img{
width: 20px;
}

.copyright-container {
padding-top: 60px;
}

.copyright-link {
font-size: 12px;
text-decoration: none;
color: #b4b4b4;
}







/* вместо pixelperfect */
/*body::after {
content: "";
display: block;
width: 1660px;
height: 3207px;
background-image: url("https://raw.githubusercontent.com/netology-code/html-2-diploma/master/sources/NOEMI_Modern_ru.jpg");
position: absolute;
top: 0;
left: calc(50% - 830px);
opacity: 0.4;
z-index: 999;
}*/



@media (min-width:641px) and (max-width:1199px) and (orientation: portrait) {

    html {
        font-size: 14.5px;
    }

    .side-bar-title.pop-up-title {
        font-size: 18px;
    }

    .header-menu-list {
        display: none;
    }

    .header-container {
        min-width: 641px;
    }

    .header-titlle {
        letter-spacing: 1.5px;
    }

    .logo {
        width: 155px;
        }

    .burger {
        visibility: visible;
    }

    .horizont {
        font-size: 18px;
    }

    .trand {
        grid-template-rows: repeat(2, 240px);
    }

    .trand-container {
        background-position: bottom, center;
    }

    .trand-item {
        max-height: 150px;
        padding: 30px 20px;
    }

    .main {
         min-width: 641x;
    }

    .main-title {
        font-size: 17px;
    }

    .main-item {
        flex-direction: column;
       
    }

    .main-item::after {
       visibility: visible;
    }

    .trand {
        min-width: 641px;
        grid-template-columns: repeat(2, 1fr);
    }

    .products {
        grid-template-columns: repeat(2, 350px);
        gap: 20px;
    }

    .footer {
        padding-top: 50px;
    }

    .icons-container {
        min-width: 641px;
    }

    .copyright-container {
        padding-top: 50px;
    }
    
}

@media (min-width:641px) and (max-width:1199px) and (orientation: landscape) {

    html {
        font-size: 14.5px;
    }

    .side-bar-title.pop-up-title {
        font-size: 18px;
    }

    .header-menu-list {
        display: none;
    }

    .logo {
        width: 155px;
        }

    .header-container {
        min-width: 641px;
    }

    .burger {
        visibility: visible;
    }

    .horizont {
        font-size: 18px;
    }

    .main {
         min-width: 641x;
    }

    .main-title {
        font-size: 17px;
    }

    .main-item {
        flex-direction: column;
    }

    .main-item::after {
        visibility: visible;
    }

    .trand {
        min-width: 641px;
        grid-template-columns: repeat(4, 1fr);
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-title {
        font-size: 17px;
    }

    .icons-container {
        min-width: 641px;
    }

}

@media (max-width: 640px) and (orientation: portrait) {

    html {
        font-size: 9.3px;
    }

    .header {
        min-height: 630px;
        background-image: url(../images/banner-mobile.jpg);
        margin-bottom: 35px; 
    }

    .header-titlle {
        line-height: 36px;
        margin: 40px auto 200px;
    }

    .side-bar-title.pop-up-title {
        font-size: 16px;
    }

    .pop-up-form {
        width: 350px;
    }

    .header-menu-list {
        display: none;
    }

    .header-navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 270px;
        margin-top: 200px;
        }

    .header-container {
        max-width: 640px;
    }

    .burger {
        visibility: visible;
    }

    .horizont {
        font-size: 16px;
    }

    .in-trand {
        margin-bottom: 30px;
    }

    .trand {
        min-width: 360px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 230px);
    }

    .trand-container {
        background-position: bottom, center;
    }

    .trand-item {
        max-height: 140px;
        padding: 30px 20px;
    }

    .main {
         max-width: 640x;
         flex-direction: column;
         align-items: center;

         gap: 35px;
    }

    .main-title {
        font-size: 16px;
        letter-spacing: -0.01px;
        line-height: 20px;
    }

    .main-item {
        flex-direction: column;
    }

    .main-item::after {
        visibility: visible;
        width: 100%;
     }

    .main-picture-container {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .main-article-contant {
        font-size: 14px;
    }

    .side-bar-title {
        font-size: 16px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-content {
        min-height: 210px;
    }

    .product-title {
        font-size: 17px;
    }

    .icons-container {
        max-width: 640px;
    }
    
}

@media (max-width: 640px) and (orientation: landscape) {

    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .header-navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 270px;
        margin-top: 235px;
    }

    .header-titlle {
        line-height: 36px;
        margin: 43px auto;
    }    

    .side-bar-title.pop-up-title {
        font-size: 16px;
    }

    .header-menu-list {
        display: none;
    }

    .header-container {
        max-width: 640px;
    }

    .burger {
        visibility: visible;
    }

    .horizont {
        font-size: 16px;
    }

    .trand {
        min-width: 360px;
        grid-template-columns: repeat(2, 1fr);
    }

    .main {
         max-width: 640x;
         flex-direction: column;
         align-items: center;
    }

    .main-title {
        font-size: 16px;
    }

    .main-item {
        flex-direction: column;
    }

    .main-item::after {
        visibility: visible;
     }

    .main-picture-container {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .main-article-contant {
        font-size: 14px;
    }

    .side-bar-title {
        font-size: 16px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .icons-container {
        
        max-width: 640px;
    }
}
